$main-bg-color: white;
$white-text-color: white;
$primarynormalcolor: #2e5caf;
$primarynormalcolorhover: #29539e;
$primarynormalcoloractive: #254a8c;
$primarydarkcolor: #234583;
$primarydarkcolorhover: #1c3769;
$primarydarkcoloractive: #15294f;
$primarydarkercolor: #10203d;
$primarylightcolor: #eaeff7;
$primarylightcolorhover: #e0e7f3;
$primarylightcoloractive: #becce6;
$secondarynormalcolor: #27ac7f;
$secondarynormalcolorhover: #239b72;
$secondarynormalcoloractive: #1f8a66;
$secondarydarkcolor: #1d815f;
$secondarydarkcolorhover: #17674c;
$secondarydarkcoloractive: #124d39;
$secondarydarkercolor: #0e3c2c;
$secondarylightcolor: #e9f7f2;
$secondarylightcolorhover: #dff3ec;
$secondarylightcoloractive: #bce5d7;

$greydarkercolor: #424242;
$greydarkactivecolor: #555;
$greylightcoloractive: #ebebeb;
$foundationgreyscaledarker: #515151;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.navbar {
  background: $main-bg-color;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;

  .navcontainer {
    width: 60% !important;
  }

  &-nav {
    flex-direction: row !important;
    gap: 25px;
    padding: 0px 30px;

    .nav-item {
      margin: 0px 10px;
      color: $greydarkercolor !important;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 25.2px */

      & a {
        color: $greydarkercolor !important;
      }

      & a.active {
        color: $primarynormalcolor !important;
      }
    }
  }

  &-nav.cta {
    margin-left: 20px;

    & button {
      width: 100px;
    }

    & .btn-signin {
      border-radius: 6px;
      border: 1px solid $primarynormalcolor;
    }

    & .btn-signup {
      border-radius: 6px;
      background-color: $primarynormalcolor;
      color: $white-text-color;
    }

    & .btn-signup:hover,
    & .btn-signup:focus {
      background-color: $primarynormalcolorhover;
    }
  }
}

.hero-section {
  position: relative;
  background-image: url("../images/herobackground.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); /* Adjust the alpha (last value) to control darkness */
  }

  &__text {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: $greylightcoloractive;
    margin-top: 100px;
  }

  &__cta {
    border-radius: 6px;
    background: $primarynormalcolor;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 35px;
    color: $white-text-color;
    margin-top: 20px;
  }

  &__cta:hover,
  &__cta:focus {
    background: $primarynormalcolorhover;
  }
}

.our-offer {
  padding: 50px 0px;
  margin-bottom: 20px;
  &__heading {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: $primarynormalcolor;
  }
  &__heading:hover,
  &__heading:focus {
    color: $primarynormalcolorhover;
  }

  &__subheading {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: $greydarkercolor;
  }

  &__card {
    border-radius: 6px;
    background: $primarylightcoloractive;
    padding: 30px 20px;
    margin-bottom: 15px;
    &-img-top {
      width: 100px;
      height: 100px;
    }
    &-title {
      color: $greydarkercolor;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 48px */
    }

    &-text {
      color: $greydarkercolor;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}

.about-us {
  padding: 30px 0px;
  margin-bottom: 30px;

  &__heading {
    color: $primarynormalcolor;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__subheading {
    position: relative;
    color: $greydarkercolor;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    &::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 45%;
      height: 4px;
      background-color: $primarynormalcolor;
    }
  }

  &__textcontainer {
    position: relative;
    padding: 20px 30px;
    background-color: $primarynormalcolor;
    border-radius: 6px;
    color: $white-text-color;
    margin-right: -50px;
    width: 55%;

    &-innercircle {
      position: absolute;
      top: 25px;
      right: -120px;
      height: 290px;
      width: 290px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.26);
    }
    & p {
      width: 85%;
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
    }
  }

  &__imgcontainer {
    &-innerrect {
      height: 85%;
      width: 1000%;
      border: 2px solid $secondarynormalcolor;
      border-left: none !important;
    }
    & img {
      height: 80%;
      position: relative;
      margin-right: -113px;
    }
  }
}

.reviews-and-ratings {
  padding: 30px 0px;
  margin-bottom: 30px;

  &__heading {
    color: $greydarkercolor;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 20px;

    span {
      color: $primarynormalcolor;
    }
  }

  &__main-text {
    color: $greydarkercolor;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 60px */

    span {
      color: $greydarkactivecolor;
    }
  }

  &__carousel {
    padding: 10px;
    gap: 25px;
    position: relative;

    &-item {
      &-card {
        border-radius: 6px;
        background: #a4bded;
        padding: 40px 30px;
        margin-bottom: 15px;

        & h6 {
          color: $greydarkercolor;
          text-align: center;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%;
          margin-left: 15px;
        }

        & p {
          color: $greydarkercolor;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 24px */
        }
      }
    }

    &-prev {
      position: absolute;
      top: 35%;
      left: -20px;
      cursor: pointer;
    }

    &-next {
      position: absolute;
      top: 35%;
      right: -20px;
      cursor: pointer;
    }
  }
}

.contact-us {
  padding: 30px 0px;
  margin-bottom: 30px;

  &__heading {
    color: $primarynormalcolor;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 60px */
  }

  &__subheading {
    color: $greydarkercolor;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }

  &__image {
    height: 100%;
    margin-right: -100px;
    width: 70%;

    & img {
      height: 570px;
      width: 100%;
    }
  }

  &__formcontainer {
    width: 50%;
    background-color: #6b8bc6;
    border-radius: 6px;
    padding: 40px 30px;

    & form {
      padding: 20px 10px;
      height: 100%;

      & label {
        color: $foundationgreyscaledarker;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
      }

      & input,
      & textarea {
        border-radius: 8px;
        border: 1px solid $primarylightcoloractive;
        background: $main-bg-color;
        padding: 10px 7px;
      }

      & input.contact-us__submit {
        background-color: $primarynormalcolor;
        padding: 10px 45px;
        color: $white-text-color;

        &:hover,
        &:focus {
          background-color: $primarynormalcolorhover;
        }
      }
    }
  }
}

.latest-blog {
  padding: 30px 0px;
  margin-bottom: 30px;
  background-color: $primarylightcoloractive;

  &__heading {
    color: $greydarkercolor;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
  }

  &__card {
    position: relative;
    border-radius: 6px;
    padding: 35px 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;
    height: fit-content;

    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      filter: brightness(40%);
      border-radius: 14px;
    }

    &-body {
      position: relative;
      margin-top: 60px;
      color: $white-text-color;

      &-title {
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */
      }

      &-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
    }
  }
}

.news-letter {
  padding: 30px 0px;
  margin-bottom: 30px;

  &__content {
    padding: 30px 45px;
    background-color: rgba(46, 92, 175, 0.71);
    border-radius: 6px;

    &-heading {
      color: $greydarkercolor;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 48px */
    }

    &-form {
      padding: 5px;
      width: 30rem;

      &-input {
        padding: 18px 15px;
        width: 97%;
        border: 0.5px solid #989797;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
      }

      &-submit {
        display: inline-block;
        margin-left: -60px;
        background-color: $primarynormalcolor;
        border-radius: 6px;
        padding: 3px 2px;
        transform: translateY(-2.3px);
      }
    }
  }
}

.footer-section {
  padding: 30px 0px;
  background-color: $primarydarkcolor;
  color: #fdfdfd;

  &__contents {
    flex-wrap: wrap;

    &-logoaanddesc {
      & img {
        width: 50px;
      }
    }
  }
}
