*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.navbar {
  background: white;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.navbar .navcontainer {
  width: 60% !important;
}
.navbar-nav {
  flex-direction: row !important;
  gap: 25px;
  padding: 0px 30px;
}
.navbar-nav .nav-item {
  margin: 0px 10px;
  color: #424242 !important;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
}
.navbar-nav .nav-item a {
  color: #424242 !important;
}
.navbar-nav .nav-item a.active {
  color: #2e5caf !important;
}
.navbar-nav.cta {
  margin-left: 20px;
}
.navbar-nav.cta button {
  width: 100px;
}
.navbar-nav.cta .btn-signin {
  border-radius: 6px;
  border: 1px solid #2e5caf;
}
.navbar-nav.cta .btn-signup {
  border-radius: 6px;
  background-color: #2e5caf;
  color: white;
}
.navbar-nav.cta .btn-signup:hover, .navbar-nav.cta .btn-signup:focus {
  background-color: #29539e;
}

.hero-section {
  position: relative;
  background-image: url("../images/herobackground.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.hero-section__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha (last value) to control darkness */
}
.hero-section__text {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #ebebeb;
  margin-top: 100px;
}
.hero-section__cta {
  border-radius: 6px;
  background: #2e5caf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 35px;
  color: white;
  margin-top: 20px;
}
.hero-section__cta:hover, .hero-section__cta:focus {
  background: #29539e;
}

.our-offer {
  padding: 50px 0px;
  margin-bottom: 20px;
}
.our-offer__heading {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #2e5caf;
}
.our-offer__heading:hover, .our-offer__heading:focus {
  color: #29539e;
}
.our-offer__subheading {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #424242;
}
.our-offer__card {
  border-radius: 6px;
  background: #becce6;
  padding: 30px 20px;
  margin-bottom: 15px;
}
.our-offer__card-img-top {
  width: 100px;
  height: 100px;
}
.our-offer__card-title {
  color: #424242;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
}
.our-offer__card-text {
  color: #424242;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.about-us {
  padding: 30px 0px;
  margin-bottom: 30px;
}
.about-us__heading {
  color: #2e5caf;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.about-us__subheading {
  position: relative;
  color: #424242;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.about-us__subheading::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 45%;
  height: 4px;
  background-color: #2e5caf;
}
.about-us__textcontainer {
  position: relative;
  padding: 20px 30px;
  background-color: #2e5caf;
  border-radius: 6px;
  color: white;
  margin-right: -50px;
  width: 55%;
}
.about-us__textcontainer-innercircle {
  position: absolute;
  top: 25px;
  right: -120px;
  height: 290px;
  width: 290px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.26);
}
.about-us__textcontainer p {
  width: 85%;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}
.about-us__imgcontainer-innerrect {
  height: 85%;
  width: 1000%;
  border: 2px solid #27ac7f;
  border-left: none !important;
}
.about-us__imgcontainer img {
  height: 80%;
  position: relative;
  margin-right: -113px;
}

.reviews-and-ratings {
  padding: 30px 0px;
  margin-bottom: 30px;
}
.reviews-and-ratings__heading {
  color: #424242;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 20px;
}
.reviews-and-ratings__heading span {
  color: #2e5caf;
}
.reviews-and-ratings__main-text {
  color: #424242;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
}
.reviews-and-ratings__main-text span {
  color: #555;
}
.reviews-and-ratings__carousel {
  padding: 10px;
  gap: 25px;
  position: relative;
}
.reviews-and-ratings__carousel-item-card {
  border-radius: 6px;
  background: #a4bded;
  padding: 40px 30px;
  margin-bottom: 15px;
}
.reviews-and-ratings__carousel-item-card h6 {
  color: #424242;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-left: 15px;
}
.reviews-and-ratings__carousel-item-card p {
  color: #424242;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}
.reviews-and-ratings__carousel-prev {
  position: absolute;
  top: 35%;
  left: -20px;
  cursor: pointer;
}
.reviews-and-ratings__carousel-next {
  position: absolute;
  top: 35%;
  right: -20px;
  cursor: pointer;
}

.contact-us {
  padding: 30px 0px;
  margin-bottom: 30px;
}
.contact-us__heading {
  color: #2e5caf;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
}
.contact-us__subheading {
  color: #424242;
  font-family: Inter;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.contact-us__image {
  height: 100%;
  margin-right: -100px;
  width: 70%;
}
.contact-us__image img {
  height: 570px;
  width: 100%;
}
.contact-us__formcontainer {
  width: 50%;
  background-color: #6b8bc6;
  border-radius: 6px;
  padding: 40px 30px;
}
.contact-us__formcontainer form {
  padding: 20px 10px;
  height: 100%;
}
.contact-us__formcontainer form label {
  color: #515151;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.contact-us__formcontainer form input, .contact-us__formcontainer form textarea {
  border-radius: 8px;
  border: 1px solid #becce6;
  background: white;
  padding: 10px 7px;
}
.contact-us__formcontainer form input.contact-us__submit {
  background-color: #2e5caf;
  padding: 10px 45px;
  color: white;
}
.contact-us__formcontainer form input.contact-us__submit:hover, .contact-us__formcontainer form input.contact-us__submit:focus {
  background-color: #29539e;
}

.latest-blog {
  padding: 30px 0px;
  margin-bottom: 30px;
  background-color: #becce6;
}
.latest-blog__heading {
  color: #424242;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
}
.latest-blog__card {
  position: relative;
  border-radius: 6px;
  padding: 35px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-end;
  height: -moz-fit-content;
  height: fit-content;
}
.latest-blog__card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(40%);
  border-radius: 14px;
}
.latest-blog__card-body {
  position: relative;
  margin-top: 60px;
  color: white;
}
.latest-blog__card-body-title {
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
.latest-blog__card-body-text {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.news-letter {
  padding: 30px 0px;
  margin-bottom: 30px;
}
.news-letter__content {
  padding: 30px 45px;
  background-color: rgba(46, 92, 175, 0.71);
  border-radius: 6px;
}
.news-letter__content-heading {
  color: #424242;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
}
.news-letter__content-form {
  padding: 5px;
  width: 30rem;
}
.news-letter__content-form-input {
  padding: 18px 15px;
  width: 97%;
  border: 0.5px solid #989797;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}
.news-letter__content-form-submit {
  display: inline-block;
  margin-left: -60px;
  background-color: #2e5caf;
  border-radius: 6px;
  padding: 3px 2px;
  transform: translateY(-2.3px);
}

.footer-section {
  padding: 30px 0px;
  background-color: #234583;
  color: #fdfdfd;
}
.footer-section__contents {
  flex-wrap: wrap;
}
.footer-section__contents-logoaanddesc img {
  width: 50px;
}/*# sourceMappingURL=styles.css.map */